*{
    
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size: 15;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    margin:0 auto;
    height: 100vh;
    color: hsl(303, 10%, 53%);
    width: 80%;
  
}

.header{
    
  
    display: flex;
margin-bottom: 10px;
justify-content: space-around;

    
}
.text{
    width: 38%;
}
h1{
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
h3{
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    width: 100%;
}
.stars{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.stars1{
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    width: 420px;
    border-radius: 8px;
    padding-left: 30px;
    display: flex;
}
.stars_text{
    margin-left: 30px;
 
}
.stars2{
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    width: 420px;
    border-radius: 8px;
    margin-left: 85px;
    padding-left: 30px;
    display: flex;
}
.stars3{
    background-color: hsl(300, 24%, 96%);
    padding: 10px;
    width: 420px;
    border-radius: 8px;
    margin-left: 170px;
    padding-left: 30px;
    display: flex;
}









/* cards */

#profile_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.profile{
    display: flex;
    margin-bottom: 20px;
}
.profile_img{
    margin-right: 20px;
}

.person{
    height: 210px;
    width: 355px;
    background-color:  hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 30px;
    
    
}
.profile_job{
    font-weight: lighter ;
    margin-top: 5px;
    color:  hsla(333, 80%, 67%, 0.7);
    
}
.profile_name{
    font-weight: 400;
    color: #ffff;
}
.profile_parent{
    display: flex;
    flex-direction: column;
}
.profile_text{
    color:  hsla(300, 24%, 96%, .8);
   
    
}



.people{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#person2{
    margin-top: 40px;
}
#person3{
    margin-top: 80px;
}

@media only screen and (max-width: 1150px) {

    .header{
    
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        
    }
    .stars1,.stars2,.stars3{
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 70%;
        text-align: center;
    }
    .images_stars{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .stars_text{
        text-align: center;
    }
    .people{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .person{
        width: 420px;
        height: auto;
    }
    #person2{
        margin-top: 40px;
    }
    #person3{
        margin-top: 40px;
    }

}

@media only screen and (max-width: 750px) {

    .text{
        width: 375px;
    }






}